<% provide(:title, "Home") %>
<div class="center jumbotron">

<h1>KB Media Solutions Home</h1>
<p>
Find out more about  <a href="http://www.kbmediasolutions.net/">www.kbmediasolutions.net</a>
</p>

<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("KBMS_logo-1.svg", alt: "KBMS logo"), 'http://rubyonrails.org/' %>


